.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.newspaper-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.main-article__title {
    font-size: 28px;
    margin: 15px 0;
}

.main-article__img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    border: 1px solid #000;
}


@media (min-width: 1024px) {
    .newspaper-layout {
        grid-template-columns: 2fr 1fr;
        gap: 50px;
    }
    .main-article {
        border-right: 1px solid var(--border-gray);
        padding-right: 30px;
    }
    .main-article__title { font-size: 48px; }
}