:root {
    --news-red: #CC0000;
    --text-black: #000000;
    --text-gray: #444;
    --border-gray: #ddd;
    --bg-white: #ffffff;
    --bg-footer: #f9f9f9;


    --font-main: 'Georgia', serif;
    --font-sans: 'Arial', sans-serif;
}